@import url('https://fonts.googleapis.com/css?family=Cabin');
.fuentetitulo {
  font-family: 'Cabin', sans-serif;
  color: #FFF!important;
}
.fuenteCabin{
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
}
.verColores{
    margin-top: 15px;
    margin-bottom: 15px;
}
.margentitulo {
  margin-top: 80px;
}
.textoEmpresa {
  font-size: 17px !important;
  color: #c5c5c5 !important;
}
.textoFooter {
  font-size: 15px !important;
  color: #c5c5c5 !important;
}
.textoBold {
  font-family: 'Cabin', sans-serif;
  color: #FFF;
  font-weight: 800;
}
.lineamenos{
  margin-bottom: 0px !important;
}
.txtFooter{
    font-size:15px;
}
.fuenteFooter{
  font-family: 'Cabin', sans-serif;
  color: #FFF!important;
  font-size: 25px;
}
.txtGrande{
    font-family: 'Cabin', sans-serif;
    font-size:35px;
    color:#FFF;
    font-weight:600;
    cursor:pointer;

}
.txtPequeno{
    font-family: 'Cabin', sans-serif;
    font-size:20px;
}
.lineaBlanca{
    background: transparent;
    margin: -10px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid #FFF!important;
}
.customP{
    color:#fff!important;
}
.customTitle{
    color:#fff!important;
}
@media (min-width: 479px) {
     .claseWeb{
        padding-left: 55px;
     }
}

.carrouselRepisa{
    /*background-image: linear-gradient(to right,#FFF 0,#FFF 100%)!important;
    background-image: -webkit-gradient(linear,left top,right top,from(#FFF),to(#FFF))!important;
    background-image: -webkit-linear-gradient(left,#FFF 0,#FFF 100%)!important;*/
     background-image: none!important;
    background-image: none!important;
    background-image: none!important;
}

.icon-small
{
    height:18px;
    margin:0;
	padding:0;
}

.icon-medium
{
    height:22px;
	margin:0;
	padding:0;
}