@import url('https://fonts.googleapis.com/css?family=Cabin');
.fuentetitulo {
  font-family: 'Cabin', sans-serif;
  color: #FFF!important;
}
.margentitulo {
  margin-top: 80px;
}
.textoEmpresa {
  font-size: 17px !important;
  color: #c5c5c5 !important;
}
.textoFooter {
  font-size: 15px !important;
  color: #c5c5c5 !important;
}
.textoBold {
  font-family: 'Cabin', sans-serif;
  color: #FFF;
  font-weight: 800;
}
.lineamenos{
  margin-bottom: 0px !important;
}
.txtFooter{
    font-size:15px;
}
.fuenteFooter{
  font-family: 'Cabin', sans-serif;
  color: #FFF!important;
  font-size: 25px;
}
.txtGrande{
    font-family: 'Cabin', sans-serif;
    font-size:35px;
    color:#FFF;
    font-weight:600;
    cursor:pointer;

}
.txtPequeno{
    font-family: 'Cabin', sans-serif;
    font-size:20px;
}
